/* header */

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

